<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="autoList">
        <div id="mainContent" class="large-10 columns" style="min-height: 600px;">
            <div th:if="!${page.hasContent()}">
                <div class="article thumbnail" style="background-color: white">
                    <label th:text="'No suitable or free cars at this moment. Please, wait for ending another journeys...'"></label>
                </div>
            </div>
          <div th:each="auto : ${page.getContent()}">
            <div class="article thumbnail" style="background-color: white">
              <div th:if="${#lists.contains(user.roles, T(com.project.db.constant.UserRole).DISPATCHER)}">
                <div th:replace="fragments/main/body/autoList :: ${autoKindWork}"></div>
              </div>
              <div th:if="${#lists.contains(user.roles, T(com.project.db.constant.UserRole).ADMIN)}">
                  <div th:replace="fragments/main/body/autoList :: ${autoKindWork}"></div>
              </div>

              <div th:replace="fragments/main/body/autoList :: auto-requirements"></div>

              </div>
            </div>

            <div th:replace="fragments/main/pagination :: pagination"></div>

        </div>
    </div>

    <div th:fragment="request-auto">
      <a th:href="@{'/request/info/' + ${request.id} + '/' + ${auto.id}}"><img th:src="@{${auto.logo}}" th:alt="${auto.model}" /></a>
    </div>

    <!--<div th:fragment="edit-auto">-->
      <!--<a th:href="@{'/auto/edit/' + ${auto.id}}"><img th:src="@{${auto.logo}}" th:alt="${auto.model}" /></a>-->
    <!--</div>-->

    <div th:fragment="delete-auto">
      <a th:href="@{'/auto/delete/' + ${auto.id}}"><img th:src="@{${auto.logo}}" th:alt="${auto.model}" /></a>
    </div>

    <div th:fragment="auto-requirements">
      <div th:if="${auto.condition == false}" class="data" style="background-color: #FE8B8B">
          <h3><a th:text="${auto.model}"></a></h3>
          <ul class="vertical large-horizontal menu">
              <li th:text="'Height: ' + ${auto.height}"></li>
              <li th:text="'Width: ' + ${auto.width}"></li>
              <li th:text="'Carrying: ' + ${auto.carrying}"></li>
          </ul>
      </div>
        <div th:unless="${auto.condition == false}" class="data">
            <h3><a th:text="${auto.model}"></a></h3>
            <ul class="vertical large-horizontal menu">
                <li th:text="'Height: ' + ${auto.height}"></li>
                <li th:text="'Width: ' + ${auto.width}"></li>
                <li th:text="'Carrying: ' + ${auto.carrying}"></li>
            </ul>
        </div>
    </div>

</html>
