<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="journey-article">

    <div class="article thumbnail">

        <div th:switch="${journey.status}">
            <p th:case="${T(com.project.db.constant.JourneyStatus).OPENED}">
            <div th:replace="fragments/main/body/parts/journey-color :: opened-journey(kind='article-journey')"></div>
            </p>
            <p th:case="${T(com.project.db.constant.JourneyStatus).CLOSED}">
            <div th:replace="fragments/main/body/parts/journey-color :: closed-journey(kind='article-journey')"></div>
            </p>
            <p th:case="${T(com.project.db.constant.JourneyStatus).PROCESS}">
            <div th:replace="fragments/main/body/parts/journey-color :: process-journey(kind='article-journey')"></div>
            </p>
            <p th:case="*">
            <div th:replace="fragments/main/body/parts/journey-color :: canceled-journey(kind='article-journey')"></div>
            </p>
        </div>

    </div>

</div>

</html>

