<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="add-user">
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/user/add}" method="post" name="userForm">
                <!-- Default inline 1-->
                <h3><span class="contact3-form-title">Add User</span></h3><br></br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="driver" class="custom-control-input" id="driver" name="position" checked=""/>
                    <label class="custom-control-label" for="driver">Driver</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="dispatcher" class="custom-control-input" id="dispatcher" name="position"/>
                    <label class="custom-control-label" for="dispatcher">Dispatcher</label>
                </div>

                <input type="text" name="username" placeholder="Username"/>
                <input type="text" name="firstName" placeholder="First name"/>
                <input type="text" name="lastName" placeholder="Last name"/>
                <input type="password" name="password" placeholder="password"/>
                <input type="password" name="verifiedPassword" placeholder="Verified password"/>
                <input type="text" name="email" placeholder="email address"/>
                <button>Create</button>
            </form>
        </div>
    </div>
</div>

</html>