<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="file">
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/file/add}" method="post" enctype="multipart/form-data">
                <h3><span class="contact3-form-title">Delete User</span></h3><br></br>
                <input type="file" name="file" value="File"/>
                <button>Add</button>
            </form>
        </div>
    </div>
</div>

</html>